In [1]:
import pandas as pd
import matplotlib.pylot as plt

In [2]:
data = pd.read_csv("./data/binance_btcusd.csv", sep=";")

In [8]:
data.dtypes

close_time      int64
high          float64
low           float64
close         float64
volume        float64
trades          int64
open          float64
open_time       int64
id              int64
dtype: object

In [10]:
data.head()

,close_time,high,low,close,volume,trades,open,open_time,id
0,1577192996999,7362.00,7361.10,7361.10,0.423716,8,7362.00,1577189700,107370
1,1502942699999,4280.56,4261.48,4261.48,2.189060,9,4261.48,1502942400000,107371
2,1502942999999,4261.48,4261.48,4261.48,0.000000,0,4261.48,1502942700000,107372
3,1502943299999,4261.48,4261.48,4261.48,0.000000,0,4261.48,1502943000000,107373
4,1502943599999,4264.88,4261.48,4261.48,0.484666,9,4261.48,1502943300000,107374

In [12]:
data.shape

(283376, 9)

In [13]:
data.median()

close_time    1.545716e+12
high          7.319520e+03
low           7.305000e+03
close         7.312005e+03
volume        6.693125e+01
trades        5.750000e+02
open          7.312000e+03
open_time     1.545715e+12
id            2.493405e+05
dtype: float64

In [17]:
data.describe()

,close_time,high,low,close,volume,trades,open,open_time,id
count,2.833760e+05,283376.000000,283376.000000,283376.000000,283376.000000,283376.000000,283376.000000,2.833760e+05,283376.000000
mean,1.545687e+12,7544.631656,7518.857530,7531.974135,104.052132,794.650673,7531.998698,1.545681e+12,251654.152141
std,2.465793e+10,2741.785793,2721.900183,2732.120719,156.306044,1003.723277,2732.176502,2.482789e+10,85841.323391
min,1.502943e+12,2878.000000,2817.000000,2820.000000,0.000000,0.000000,2830.000000,1.577190e+09,107370.000000
25%,1.524355e+12,5786.097500,5769.710000,5778.410000,21.372775,225.000000,5778.325000,1.524355e+12,178354.750000
50%,1.545716e+12,7319.520000,7305.000000,7312.005000,66.931250,575.000000,7312.000000,1.545715e+12,249340.500000
75%,1.567059e+12,9134.962500,9110.010000,9121.960000,126.443000,1008.000000,9121.962500,1.567058e+12,320326.250000
max,1.588352e+12,19798.700000,19729.000000,19762.000000,4421.920000,29936.000000,19762.000000,1.588352e+12,427310.000000